body {
    text-align: center;
    line-height: 2rem;
    background-color: #47A992;
}

#brand {
    color: gold;
    font-weight: bold;
    font-family: 'Open Sans', 'sans serif';
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: white;
    margin: 3%;
}

a:hover{
    color: blue;
}

.nav-brand {
    margin: 1%;
    color: white;
}

.nav-links {
    width: 40%;
    margin-right: 0%;
}

.btn {
    background-color: #19376D;
}

.btn:hover {
    background-color: green;
    font-weight: bold;
}

.dropdown {
    display: inline;
}

.dropdown-item{
    font-family: 'Stylish', sans-serif;
}

.redirect-links {
    margin: 22% 4% 4% 4%;
    display: inline-block;
    padding: 30px 20px;
    background-color: #4CAF50;
    color: white;
    border: white solid 3px;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 150px;
    text-align: center;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.redirect-links:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 1200px) {
    .nav-brand {
        margin: 0%;
    }

    h1 {
        font-size: 2rem;
    }

    a {
        margin: 0.5%;
        font-size: 0.9rem;
    }

    .btn-secondary {
        font-size: 0.9rem;
    }

    .nav-links {
        margin: 0%;
        width: 55%;
    }

    .redirect-links {
        margin-top: 25%;
    }
}

@media screen and (min-width: 1800px) and (max-width: 2600px) {
    .nav-brand {
        margin: 0%;
    }

    h1 {
        font-size: 4rem;
    }

    a {
        margin: 2%;
        font-size: 2rem;
    }

    .btn-secondary {
        font-size: 2rem;
    }

    .nav-links {
        margin: 0%;
        width: 50%;
    }

    .redirect-links {
        margin-top: 15%;
        font-size: 1.5rem;
    }
}