body {
    text-align: center;
    background-color: #7F8487;
}

#brand {
    color: gold;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin: 3%;
}

.nav-brand {
    margin: 1%;
    color: white;
}

.nav-links {
    width: 40%;
    margin-right: 0%;
}

.btn-secondary {
    background-color: #19376D;
}

.btn-secondary:hover {
    background-color: green;
    font-weight: bold;
}

.dropdown {
    display: inline;
}

.dropdown-item{
    font-family: 'Stylish', sans-serif;
}

.main-box {
    margin: auto;
    margin-top: 15%;
    background-color: black;
    padding: 2%;
    width: 30%;
}

input {
    margin-bottom: 15%;
    margin-top: 5%;
    text-align: center;
}

label {
    color: white;
    font-weight: 900;
    margin: 2% 0% 2% 0%;
}

.data-box {
    display: none;
    width: 80%;
    margin: auto;
    margin-top: 15%;
    padding: 2%;
    background-color: #7F8487;
}

table {
    color: black;
    background-color: white;
    width: 60%;
    margin: auto;
    border: black solid 3px;
}

table>tr,
td,
th {
    border: black solid 3px;
    font-family: 'Open Sans', 'sans serif';
    padding: 1%;
    width: 50%;
}

#uniqueId {
    color: gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (min-width: 899px) and (max-width: 1200px) {
    a {
        margin: 3%;
        font-size: 100%;
    }

    .btn {
        font-size: 100%;
    }

    .nav-links {
        width: 50%;
        margin: 0%;
    }

    .nav-brand {
        margin-right: 10%;
    }

    .main-box {
        margin-top: 20%;
        width: 35%;
    }
}

@media screen and (min-width: 1851px) and (max-width: 2560px) {

    /*4k*/
    a {
        margin: 5%;
        font-size: 2rem;
    }

    .btn-secondary {
        font-size: 2rem;
        width: 25%;
        height: 5rem;
        padding: 0%;
    }

    .nav-links {
        width: 60%;
        margin: 0%;
    }

    .nav-brand {
        margin-right: 10%;
    }

    h1 {
        font-size: 4rem;
    }

    .main-box {
        margin-top: 20%;
        width: 30%;
    }

    body {
        font-size: larger;
    }
}