body {
    background-image: url(./healthyFood.webp);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

a {
    text-decoration: none;
    color: white;
    margin: 4%;
}

h1 {
    margin-left: 26%;
    margin-top: 8%;
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#brand {
    color: gold;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Open Sans', 'sans serif';
}

h3 {
    margin: 4% 40% 1% 40%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 2% 20% 0% 20%;
}

h6 {
    display: inline-block;
}

.calculator {
    background-color: #CEDEBD;
    margin: 2% 30% 0% 30%;
    border-radius: 2%;
    border-color: black;
    border-style: solid;
    padding: 0.5%;
}

.btn1 {
    margin-left: 30%;
    margin-top: 1rem;
}

#cms {
    margin-left: 12%;
}

.btn2 {
    margin-left: 30%;
    margin-top: 1rem;
}

.reset_btn {
    margin: 0;
    margin-top: 1rem;
}

.btnTop {
    background-color: #19376D;
    border-color: black;
    color: white;
}

.btnTop:hover {
    background-color: green;
    font-weight: bold;
}

.nav-brand {
    margin: 1%;
    color: white;
}

.nav-links {
    width: 40%;
    margin-right: 0%;
}

.nav-link{
    font-style: bolder;
    font-size: large;
    color: black;
}

.dropdown {
    display: inline;
}

.dropdown-item{
    font-family: 'Stylish', sans-serif;
}

#feedback {
    margin-left: 0%;
    width: 100%;
    display: none;
}

input {
    background-color: white;
    color: black;
    padding: 2px 2px;
    margin: 0px 4px 8px 0px;
    border-radius: 4px;
}

#resultM,
#resultS {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    h2 {
        font-size: 2rem;
        margin-right: 0%;
    }

    a {
        margin: 2%;
        font-size: 80%;
    }

    .btnTop {
        font-size: 80%;
    }

    .nav-links {
        margin: 0%;
        width: 45%;
    }

    h1 {
        font-size: 4rem;
        margin: 50% 5% 2% 8%;
    }

    .calculator {
        width: 70%;
        margin: 2% 2% 0% 15%;
        font-size: 1.5rem;
    }

    h3 {
        font-size: 2rem;
        font-weight: bolder;
        color: black;
        margin: 2% 20% 2% 40%;
    }

    p {
        font-size: 2rem;
        font-weight: bolder;
        color: black;
    }
}

@media screen and (min-width: 1851px) and (max-width: 2560px) {

    /* 4k */
    h2 {
        font-size: 4rem;
        margin-right: 0%;
    }

    a {
        margin: 3%;
        font-size: 2rem;
    }

    .btnTop {
        font-size: 2rem;
        width: 25%;
        height: 90%;
    }

    .nav-links {
        margin: 0%;
        width: 45%;
    }

    h1 {
        font-size: 4rem;
        margin: 6% 5% 2% 35%;
    }

    .calculator {
        width: 35%;
        margin: 1% 2% 0% 35%;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    h3 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }
}