#brand {
    color: gold;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 2.4rem;
}

h2,
h3 {
    color: white;
    margin: 6%;
    text-align: center;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    margin: 3%;
}

.nav-brand {
    margin: 1%;
    color: white;
}

.btn {
    background-color: #19376D;
}

.btn:hover {
    background-color: green;
    font-weight: bold;
}

.nav-links {
    width: 40%;
    margin-right: 0%;
}

.dropdown {
    display: inline-block;
}

.dropdown-item{
    font-family: 'Stylish', sans-serif;
}

.main-box {
    background: linear-gradient(to bottom right, #3d97ce 0%, #12debb 100%);
    width: 100%;
    height: 90vh;
    border-bottom: solid black 3px;
    margin-top: 6%;
    position: relative;
}

.main-text-box {
    float: left;
    width: 50%;
    height: 100%;
}

#main-para {
    color: white;
    text-align: left;
    margin: 2% 2% 2% 10%;
    font-size: 22px;
    visibility: hidden;
    font-weight: 400;
}

.main-image-box {
    float: right;
    width: 50%;
    height: 100%;
}

#main-img {
    width: 80%;
    height: 80%;
    margin: 5%;
    border: white solid 3px;
}

#to-features {
    background-color: black;
    color: white;
    border: solid 2.5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    width: 10%;
    height: 10%;
    position: absolute;
    margin: 0% 40% 0% 20%;
    bottom: 10%;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#to-features:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    background-color: white;
    color: black;
}

.features-para{
    text-align: center;
}

.features-line{
    width: 45%;
    display: inline-block;
    margin: 3% 1% 5% 3%;
}

i{
    margin-left: 50%;
}

.features-box{
    background: linear-gradient(to top right, #3d97ce 0%, #12debb 100%);
    padding-top: 5%;
    padding-bottom: 5%;
}

.features{
    background-color: white;
    z-index: 1;
    width: 80%;
    border-radius: 3%;
    margin: 0% 10% 0% 10%;
}

.feature-links {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: black; 
    color: red;
    text-shadow: 
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white; 
    font-weight: bold; 
    font-size: xx-large;
    text-align: center; 
    text-decoration: none; 
    border: none; 
    cursor: pointer; 
    margin: 5% 0% 5% 25%;
}

.feature-links:hover{
    background-color: green;
    color: white;
    font-weight: lighter;
}

#last-feature{
    margin-left: 28%;
}

#feature-heading{
    color: red;
    background-color: orange;
    display: inline-block;
    margin: 3% 40% 4% 40%;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 
    -1.5px -1.5px 0 black,
     1.5px -1.5px 0 black,
    -1.5px  1.5px 0 black,
     1.5px  1.5px 0 black; 
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 5rem;
    }

    a {
        margin: 3%;
        font-size: 2.5vw;
    }

    .nav-links {
        margin: 0%;
        width: 70%;
    }

    .btn {
        font-size: 2.5vw;
        margin-right: 1%;
    }

    .main-box {
        margin-top: 8%;
        height: 100vh;
    }

    .main-text-box {
        width: 100%;
    }

    #main-para {
        font-size: 6vw;
    }

    .main-image-box {
        display: none;
    }

    #to-features {
        width: 30%;
        height: 5%;
        padding: 1%;
        margin: 0% 20% 15% 35%;
        font-size: 2rem;
        font-weight: bolder;
    }

    .features-line{
        width: 50%;
        display: block;
        margin: 3% 0% 5% 23%;
    }

    .features{
        margin: 0% 10% 0% 10%;
        padding-bottom: 2%;
    }

    .features-para{
        font-size: x-large;
        margin-left: 12%;
    }

    #last-feature{
        margin-left: 23%;
    }
}