body {
    text-align: center;
    line-height: 2rem;
    background-color: #116D6E;
}

#brand {
    color: gold;
    font-weight: bold;
    font-family: 'Open Sans', 'sans serif';
    font-size: 2.4rem;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    color: #fff;
}

h2:first-child {
    margin-top: 8%;
}

h5 {
    color: #FFB84C;
}

a {
    text-decoration: none;
    color: white;
    margin: 3%;
}

.nav-brand {
    margin: 1%;
    color: white;
}

.nav-links {
    width: 40%;
    margin-right: 0%;
}

.btn {
    background-color: #19376D;
}

.btn:hover {
    background-color: green;
    font-weight: bold;
}

label {
    color: white;
    font-size: 1.1rem;
}

.dropdown {
    display: inline;
}

.dropdown-item{
    font-family: 'Stylish', sans-serif;
}

input,
select {
    background-color: white;
    color: black;
    padding: 2px 2px;
    margin: 0px 4px 8px 0px;
    border: solid black;
    border-radius: 4px;
    cursor: pointer;
}

#profile-form{
    padding-bottom: 2%;
}

@media screen and (max-width: 1200px) {
    a {
        margin: 3%;
        font-size: 100%;
    }

    .btn {
        font-size: 100%;
    }

    .nav-links {
        width: 50%;
        margin: 0%;
    }

    .nav-brand {
        margin-right: 10%;
    }

    h2:first-child {
        margin-top: 10%;
    }
}

@media screen and (min-width: 1851px) and (max-width: 2560px) {

    /*4k*/
    a {
        margin: 3%;
        font-size: 1.5rem;
    }

    .btn {
        font-size: 1.5rem;
    }

    .nav-links {
        width: 40%;
        margin: 0%;
    }

    .nav-brand {
        margin-right: 10%;
    }

    h2:first-child {
        margin-top: 7%;
    }

    h1 {
        font-size: 4rem;
    }

    body {
        font-size: larger;
    }
}